@import 'mixins'

.button
	@include flex(row, center, center)
	padding: 0px 17px
	height: 50px
	font-size: 18px
	font-weight: 600
	background: rgba(255, 255, 255, 0.12)
	color: #EEE
	user-select: none
	cursor: pointer
	border-radius: 6px

	i
		font-size: 24px
		margin-right: 8px

	span
		margin-right: 2px

	&.secondary
		background: darken(#EDF4F8, 7%)
		color: rgba(0, 0, 0, 0.9)