<template lang="pug">
  .node
    router-link.button(to="/")
      i.las.la-arrow-left
      span Back To Systems
    h1 Node: <b>{{ node.name }}</b>
    p {{ node.description }}

    table
      tr.header
        td Destination
        td Name
      tr(v-for="edge in edges")
        td 
          .link(@click="update(edge.nodeid)") {{ edge.nodename }}
        td {{ edge.name }}
</template>

<script>
import axios from 'axios'

export default {
  name: 'Node',
  methods: {
    refresh (id) {
      console.log('Pushing new node')
      this.$store.dispatch('fetchNode', id)
      this.$store.dispatch('fetchEdges', id)
    },

    update (id) {
      this.refresh(id)
      this.$router.push('/node/' + id)
    }
  },
  computed: {
    node () {
      return this.$store.getters.currentNode
    },

    edges () {
      return this.$store.getters.currentEdges
    },
  },
  mounted () {
    this.refresh(this.$route.params.id)
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import '../styles/breakpoint'
@import '../styles/mixins'
@import '../styles/button'

.node
  @include flex(column, flex-start, flex-start)
  padding: 50px 150px
  width: 100vw
  height: 100vh
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  .button
    margin-top: 30px
    color: #EEE !important

  h1
    font-size: 56px
    color: #FFF
    font-weight: 300
    text-align: left

    b
      font-weight: 300
      color: #00B1FF

  p
    font-size: 25px
    margin-top: 0
    width: calc(100% - 200px)
    text-align: left
    font-weight: 400
    color: rgba(255, 255, 255, 0.9)

  h2
    border-bottom: 2px solid rgba(255, 255, 255, 0.3)
    width: calc(100% - 200px)
    text-align: left
    font-size: 26px
    padding-bottom: 10px

  table
    width: calc(100vw - 300px)
    margin-top: 25px
    @include flex(column, flex-start, flex-start)

    tr.header
      border-bottom: 2px solid rgba(255, 255, 255, 0.3)
      padding-bottom: 18px
      width: 100%
      height: 30px
      font-weight: 700
      @include flex(row, flex-start, flex-start)

    td
      text-align: left
      flex: 0 0 auto
      width: 50%
      line-height: 1.701
      padding-bottom: 10px
      padding-right: 20px
      height: 100%
      @include flex(row, flex-start, center)

      .link
        color: darken(#1EFF2D, 14%)
        text-decoration: none
        font-weight: 600
        cursor: pointer


      &.fixed-width
        width: 200px
        flex: 0 0 auto


    tr
      //min-height: 50px
      @include flex(row, flex-start, flex-start)
      width: 100%
      padding: 10px 0
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)
      flex: 1 0 auto

      td.fixed-width
        //font-size: 20px
      
      //&:nth-child(odd)
        background: rgba(255, 255, 255, 0.08)


@include breakpoint("xs")
  .node
    padding: 20px 60px

@include breakpoint("sm")
  .node
    padding: 20px 60px

    table
      width: calc(100vw - 120px)

@include breakpoint("md")
  .node
    padding: 20px 60px

    table
      width: calc(100vw - 120px)

@include breakpoint("lg")
  .node
    padding: 50px 100px

    table
      width: calc(100vw - 200px)

@include breakpoint("xl")
  .node
    padding: 50px 100px

</style>
