<template lang="pug">
  .system-table
    h1 Systems
    table
      tr.header
        td.fixed-width Name
        td Description
      tr(v-for="system in this.$store.getters.systems")
        td.fixed-width 
          router-link(:to="'/node/' + system.start") {{ system.name }}
        td {{ system.description }}
</template>

<script>
export default {
  name: 'Systems',
  data () {
    return {
    
    }
  },
  computed: {
    systems () {
      return this.$store.getters.systems
    }
  },
  mounted () {
    this.$store.dispatch('fetchAllSystems')
  },
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import '../styles/breakpoint'
@import '../styles/mixins'

.system-table
  @include flex(column, flex-start, flex-start)
  padding: 50px 150px
  width: 100vw
  height: 100vh
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

  h1
    font-size: 56px
    color: #00B1FF
    font-weight: 300

  table
    width: calc(100vw - 300px)
    @include flex(column, flex-start, flex-start)

    tr.header
      border-bottom: 2px solid rgba(255, 255, 255, 0.3)
      padding-bottom: 18px
      width: 100%
      height: 30px
      font-weight: 700
      @include flex(row, flex-start, flex-start)

    td
      text-align: left
      line-height: 1.701
      padding-bottom: 10px
      padding-right: 20px
      height: 100%
      @include flex(row, flex-start, center)


      &.fixed-width
        width: 200px
        flex: 0 0 auto


    tr
      //min-height: 50px
      @include flex(row, flex-start, flex-start)
      width: 100%
      padding: 10px 0
      border-bottom: 1px solid rgba(255, 255, 255, 0.2)
      flex: 1 0 auto

      td.fixed-width
        //font-size: 20px
      
      //&:nth-child(odd)
        background: rgba(255, 255, 255, 0.08)


@include breakpoint("xs")
  .system-table
    padding: 20px 60px

@include breakpoint("sm")
  .system-table
    padding: 20px 60px

    table
      width: calc(100vw - 120px)

@include breakpoint("md")
  .system-table
    padding: 20px 60px

    table
      width: calc(100vw - 120px)

@include breakpoint("lg")
  .system-table
    padding: 50px 100px

    table
      width: calc(100vw - 200px)

@include breakpoint("xl")
  .system-table
    padding: 50px 100px

</style>
