<template lang="pug">
  .hello
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
@import '../styles/breakpoint'
@import '../styles/mixins'

.hello

@include breakpoint("xs")
  .hello

@include breakpoint("sm")
  .hello

@include breakpoint("md")
  .hello

@include breakpoint("lg")
  .hello

@include breakpoint("xl")
  .hello

</style>
