<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="sass">
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600&display=swap')

html, body, #app
  margin: 0
  padding: 0
  width: 100vw
  height: 100vh

#app 
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #EEE
  background: #EEEEE9
  background: darken(#00003D, 10%)
  font-size: 20px

  position: fixed
  left: 0
  top: 0

  a
    color: darken(#1EFF2D, 14%)
    text-decoration: none
    font-weight: 600

</style>
